* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  border: 10px solid red;
  border-radius: 5px;
  color: orange;
  font-size: 48px;
}

h1::first-letter {
  color: blue;
}

h2 {
  text-align: center;
}

.animal {
  background-color: lemonchiffon;
  margin: 20px;
}
.mammal {
  background-color: yellow;
  padding: 30px 5px;
}
.fish {
  background-color: orangered;
  padding-left: 50px;
  padding-top: 10px;
}
.bird {
  background-color: lightblue;
  padding-top: 20px;
  padding-bottom: 20px;
}
#best-animal {
   background-color: springgreen;
}
li {
  width: 50%;
}
ul {
  background-color: blue;
}

.button {
  background-color: whitesmoke;
  width: 50%;
  text-shadow: 2px 2px red;
  border: 10px solid black;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  margin: 20px auto;
}

.button:hover {
  cursor: pointer;
}
