* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
}
h1 {
  border: 10px solid red;
  border-radius: 5px;
  color: orange;
  font-size: 48px;
}
h2 {
  text-align: center;
}
.animal {
  background-color: lightblue;
  margin: 20px;
  padding: 30px 5px;
}
li {
  width: 45%;
  display: inline-block;;
}
ul {
  background-color: blue;
  list-style: none;
}
.button {
  background-color: whitesmoke;
  width: 50%;
  text-shadow: 2px 2px red;
  border: 10px solid black;
  border-radius: 10px;
  font-size: 32px;
  text-align: center;
  margin: 20px auto;
}
.button:hover {
  cursor: pointer;
}


.close-button {
  border: 2px solid red;
  cursor: pointer;
  text-align: right;
  margin-left: 100px;
}

.sloth-fact {
  display: none;
  background-color: orange;
}

.show {
  display: inline-block;
}
